<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View todo </title>
</head>
<body>
  {% extends "todo/base.html" %}
  {% block content %}


     <br>
     {{error}}

        <form method = "POST" id="save">
          {% csrf_token %}
          {{form.as_p}}

        </form>

         <form method = "POST" action="{% url 'completetodo' todo.id %}" id="complete">
          {% csrf_token %}
        </form>

         <form method = "POST" action="{% url 'deletetodo' todo.id %}" id="delete">
          {% csrf_token %}
        </form>
    <div>
        {% if todo.datecompleted == Null %}
        <button type="submit" form="save" class="btn btn-primary btn-lg">Save</button>
        <button type="submit" form="complete" class="btn btn-primary btn-lg">Complete</button>
        {% endif %}
        <button type="submit" form="delete" class="btn btn-primary btn-lg">Delete</button>
    </div>
     {% endblock content %}

</body>
</html>